.container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.name {
  font-size: 3rem;
  margin: 0 0 20px 0;
  padding: 0;
}

.job {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  margin: 0 0 60px 0;
  padding: 0;
}

.name , .job {
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  border-radius: 8px;
}

.linkedin {
  text-decoration: none;
  background-color: blue;
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.linkedin:hover {
  text-decoration: underline;
}