.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.column {
  max-width: 300px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.name {
  padding-bottom: 20px;
  text-align: center;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}