.name {
  text-align: center;
  text-transform: capitalize;
}

.abilities-list {
  display: flex;
  list-style-type: none;
}

.abilities-item:nth-child(1) {
  margin-right: 20px;
}

.container {
  display: flex;
}

.type {
  margin-left: 8px;
  margin-right: 8px;
}