.timer-container {
  background-color: rgba(79, 218, 197, 0.421);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.timer-title {
  background-color: rgb(25, 130, 134);
  color: white;
  margin: 0 0 30px 0;
  padding: 10px;
}

.timer-btn {
  background-color: rgb(25, 130, 134);
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  letter-spacing: 1.5px;
  padding: 5px;
}